body{
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to right, #ffff66, #b37700);
}

section {
  float: left;
  height: 700px;
  border-radius: 15px;
  box-shadow: 8px 8px 30px #000;
}

h1, h3, h4 {
  text-decoration: underline;
  color: #3d0090;
  text-align: center;
}  

p {
  color: #fff;
}

section{
  width: 400px;
  background-color: #52527a;
  padding: 10px;
  margin: 10px;
}

section:hover{
  background-color: #7575a3;
}